@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Poller+One|Pacifico&display=swap');
.clearfix::after{
  display: block;
  height: 1px;
  content: '';
  clear: both;
  visibility: hidden;
}
html,
#main-body{
  margin: 0;
  padding: 0;
  background-color: #f4f5f5;
  font-family: 'Poller One', serif;;
}.secret{
  display: none !important;
}
/* ======================navbar========================================== */
.nav-wrapper{
  width: 1200px;
  margin: 0 auto;
}
nav{
  display: block;
  width: 100%;
  font-family: 'Poller One', serif;
  font-size: 16px;
  border-bottom: 1px solid #bad6db;
  box-shadow: 0px 5px 5px grey;
  background-color: #f4f5f5;
  transition: all .5s linear;
  z-index: 999;
}
.hamburger{
  width: 50%;
  float: right;
  cursor: pointer;
}
.close{
  display: block;
  width: 48px;
  height: 48px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.close img{
  display: block;
  width: 32px;
  height: 32px;
}
#hamburger_icon{
  display: block;
  float: right;
  padding: 5px;
}
.logo{
  transition: all .2s linear;
  display: block;
  margin: 0 auto;
}
.logo img{
  transition: all .2s linear;
  margin: 0 40%;
  width: 220px;
}
nav ul{
  list-style: none;
  padding: 0;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 45px;
  position: relative;
  z-index: 1000;
}
nav ul li{
  width: 17%;
  float: left;
  text-align: center;
  margin: 0 15px;
  padding-top: 10px;
  color: #051f34;
}
nav ul li a{
  display: block;
  float: none;
  padding-top: 5px;
  text-decoration: none;
  color: #051f34;
}
